body{
  background: gray;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: center;
}

input {
  border-radius: 12%;
  font-size: 30px;
  border: 3px solid rgb(99, 99, 99);
  width: 5rem;
  height: 2.65rem;
}

section > button{
  border-radius: 20%;;
  font-size: 35px;
  width: 3rem;
  height: 3rem;
  background: white;
  border: 3px solid rgb(99, 99, 99);
}

button:hover{
  background-color: rgb(99, 99, 99);
  color: white;
}

